@import './base/settings';
@import './base/base';

.board {
    width: 31rem;
    height: 31rem;
    margin: auto;
    border: 1px soild black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    text-align: center;
    line-height: 10rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.square:hover {
    background: lightblue;
    cursor: pointer;
}